@import '../../../src/styles/theme.module.scss';

.root {
}
.container {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #0c2284;
}
.div1 {
    font-size: 24px;
    font-weight: bolder;
}
.dropdowncontainer {
    margin-left: 1px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.p1 {
    font-family: Impact, sans-serif;
}
